@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
#slider-44 P {
  text-align: center;
  color: #000000;
}
#slider-44 H1 {
  color: #ff0b0b;
}
#menu-5 .mbr-brand__name {
  font-size: 16px;
}
#menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-5 .mbr-navbar__hamburger {
  color: #fac51c;
}
#msg-box2-40 .mbr-header .mbr-header__text {
  color: #b8312f;
  font-size: 17px;
}
#msg-box2-40 .mbr-article {
  color: #252525;
}
#msg-box2-40 .btn {
  font-size: 20px;
}
#gallery1-38 SMALL {
  text-align: center;
}
#msg-box5-2x .mbr-header__text {
  color: #b8312f;
}
#msg-box5-2x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-2x .mbr-article {
  color: #ffffff;
}
#msg-box5-2x .mbr-article P {
  color: #fff909;
}
#contacts3-2z STRONG {
  font-size: 25px;
}
#contacts3-2z P {
  font-size: 20px;
}

#msg-box5-3w .mbr-header__text {
  color: #bc0909;
  font-size: 30px;
}
#msg-box5-3w .mbr-header__subtext {
  color: #0029c2;
  font-size: 15px;
}
#msg-box5-3w .mbr-article {
  color: #ffffff;
}
#msg-box5-3w .mbr-article P {
  color: #463c0d;
}
#msg-box5-3w .mbr-article H2 {
  color: #bc0909;
}
#msg-box5-3w .mbr-article LI {
  text-align: left;
}
#msg-box5-3w .mbr-article BLOCKQUOTE {
  color: #a10808;
}
#msg-box5-3w .btn {
  font-size: 10px;
}
#msg-box5-3w .mbr-article H3 {
  color: #28324e;
}
#slider-b P {
  text-align: center;
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: #faaf40;
}
#slider-b H1 {
  color: #ffffff;
}
#msg-box5-43 .mbr-header__text {
  color: #ffffff;
}
#msg-box5-43 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-43 .mbr-article {
  color: #ffffff;
}
#menu-9 .mbr-brand__name {
  font-size: 16px;
}
#menu-9.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-9 .mbr-navbar__hamburger {
  color: #fac51c;
}
#social-buttons1-31 .mbr-header__text {
  color: #ffffff;
}
#contacts3-2z STRONG {
  font-size: 20px;
}
#menu-n .mbr-brand__name {
  font-size: 16px;
}
#menu-n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-n .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-n .mbr-navbar__hamburger {
  color: #fac51c;
}
#features1-o .mbr-header__subtext {
  color: #ff0400;
}
#contacts3-2z STRONG {
  font-size: 20px;
}
#menu-p .mbr-brand__name {
  font-size: 16px;
}
#menu-p.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-p .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-p .mbr-navbar__hamburger {
  color: #fac51c;
}
#header1-z H1 {
  color: #475577;
}
#msg-box4-v .mbr-header__text {
  color: #ffffff;
}
#msg-box4-v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-v .mbr-article {
  color: #ffffff;
}
#msg-box4-10 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-10 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-10 .mbr-article {
  color: #ffffff;
}
#msg-box4-1c .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1c .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1c .mbr-article {
  color: #ffffff;
}
#msg-box4-1d .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1d .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1d .mbr-article {
  color: #ffffff;
}
#msg-box4-1e .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1e .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1e .mbr-article {
  color: #ffffff;
}
#msg-box4-1f .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1f .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1f .mbr-article {
  color: #ffffff;
}
#msg-box4-1g .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1g .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1g .mbr-article {
  color: #ffffff;
}
#msg-box4-1h .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1h .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1h .mbr-article {
  color: #ffffff;
}
#msg-box4-1i .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1i .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1i .mbr-article {
  color: #ffffff;
}
#msg-box4-1j .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1j .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1j .mbr-article {
  color: #ffffff;
}
#msg-box4-1k .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1k .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1k .mbr-article {
  color: #ffffff;
}
#msg-box4-1l .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1l .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1l .mbr-article {
  color: #ffffff;
}
#msg-box4-1m .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1m .mbr-article {
  color: #ffffff;
}
#contacts3-2z STRONG {
  font-size: 20px;
}
#menu-11 .mbr-brand__name {
  font-size: 16px;
}
#menu-11.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-11 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-11 .mbr-navbar__hamburger {
  color: #fac51c;
}
#content5-13 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 46px;
}
#content5-13 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-13 .mbr-article {
  color: #fff;
}
#msg-box4-14 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-14 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-14 .mbr-article {
  color: #ffffff;
}
#msg-box4-14 .mbr-article P {
  text-align: left;
}
#msg-box4-15 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-15 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-15 .mbr-article {
  color: #ffffff;
}
#msg-box4-16 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-16 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-16 .mbr-article {
  color: #ffffff;
}
#msg-box4-18 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-18 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-18 .mbr-article {
  color: #ffffff;
}
#msg-box4-19 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-19 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-19 .mbr-article {
  color: #ffffff;
}
#msg-box4-1a .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1a .mbr-article {
  color: #ffffff;
}
#contacts3-2z STRONG {
  font-size: 20px;
}
#menu-1n .mbr-brand__name {
  font-size: 16px;
}
#menu-1n.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1n .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1n .mbr-navbar__hamburger {
  color: #fac51c;
}
#content5-1o .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
  font-size: 32px;
}
#content5-1o .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1o .mbr-article {
  color: #fff;
}
#content5-1o .mbr-header .mbr-header__text SPAN {
  font-size: 30px;
}
#msg-box4-1p .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1p .mbr-article {
  color: #ffffff;
}
#msg-box4-1p .mbr-article P {
  text-align: left;
}
#msg-box4-1q .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1q .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1q .mbr-article {
  color: #ffffff;
}
#msg-box4-1r .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1r .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1r .mbr-article {
  color: #ffffff;
}
#msg-box4-1s .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1s .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1s .mbr-article {
  color: #ffffff;
}
#msg-box4-1t .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1t .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1t .mbr-article {
  color: #ffffff;
}
#msg-box4-1u .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1u .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1u .mbr-article {
  color: #ffffff;
}
#msg-box4-1v .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1v .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1v .mbr-article {
  color: #ffffff;
}
#msg-box4-1w .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1w .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1w .mbr-article {
  color: #ffffff;
}
#msg-box4-1x .mbr-header__text {
  color: #ffffff;
}
#msg-box4-1x .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-1x .mbr-article {
  color: #ffffff;
}
#contacts3-2z STRONG {
  font-size: 20px;
}
#menu-1y .mbr-brand__name {
  font-size: 16px;
}
#menu-1y.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1y .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1y .mbr-navbar__hamburger {
  color: #fac51c;
}
#content5-20 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-20 .mbr-article {
  color: #fff;
}
#content5-20 .mbr-header .mbr-header__text SPAN {
  font-size: 46px;
  color: #000000;
}
#msg-box4-21 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-21 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-21 .mbr-article {
  color: #ffffff;
}
#msg-box4-22 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-22 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-22 .mbr-article {
  color: #ffffff;
}
#msg-box4-23 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-23 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-23 .mbr-article {
  color: #ffffff;
}
#msg-box4-24 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-24 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-24 .mbr-article {
  color: #ffffff;
}
#msg-box4-25 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-25 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-25 .mbr-article {
  color: #ffffff;
}
#msg-box4-26 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-26 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-26 .mbr-article {
  color: #ffffff;
}
#msg-box4-27 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-27 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-27 .mbr-article {
  color: #ffffff;
}
#msg-box4-28 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-28 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-28 .mbr-article {
  color: #ffffff;
}
#msg-box4-29 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-29 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-29 .mbr-article {
  color: #ffffff;
}
#msg-box4-2a .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2a .mbr-article {
  color: #ffffff;
}
#msg-box4-2b .mbr-header__text {
  color: #ffffff;
}
#msg-box4-2b .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-2b .mbr-article {
  color: #ffffff;
}
#msg-box4-3a .mbr-header__text {
  color: #ffffff;
}
#msg-box4-3a .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-3a .mbr-article {
  color: #ffffff;
}
#contacts3-2z STRONG {
  font-size: 20px;
}
#menu-2s .mbr-brand__name {
  font-size: 16px;
}
#menu-2s.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2s .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-2s .mbr-navbar__hamburger {
  color: #fac51c;
}
#form1-2v .mbr-header__text {
  color: #ffffff;
}
#contacts3-2z STRONG {
  font-size: 20px;
}
#menu-3m .mbr-brand__name {
  font-size: 16px;
}
#menu-3m.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3m .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-3m .mbr-navbar__hamburger {
  color: #fac51c;
}
#msg-box5-3p .mbr-header__text {
  color: #b8312f;
}
#msg-box5-3p .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-3p .mbr-article {
  color: #ffffff;
}
#msg-box5-3p .mbr-article P {
  color: #fff909;
}
#testimonials1-3q .mbr-reviews__author-bio {
  font-size: 14px;
}
#contacts3-3s STRONG {
  font-size: 20px;
}
